{% extends 'base.html' %}
{% load static %}
{% block content %}

<center>
    <br>
    <br>
    <br>
    <h3>Hubungi Kami</h3>
    <small>Makinkinz Meat Shop</small> <hr>
</center>



 <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <center><img class="bd-placeholder-img rounded-circle" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/wa.png" style="width:140px; height:140px;">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <h2>Whatsapp</h2>
        <p>Hubungi Makinkinz Meat Shop di Whatsapp ya. Kamu bisa tanyain apa aja seputar produk kami.</p>
        <p><a class="btn btn-info" href="https://api.whatsapp.com/send?phone=6285772902160&text=Halo%20Makinkinz,%20saya%20dapet%20informasi%20dari%20website%20www.makinkinz.com.%20Saya%20ingin%20bertanya%20tentang,%20%20" role="button">Cek Disini!</a></p></center>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <center><img class="bd-placeholder-img rounded-circle" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/instagram.png" style="width:140px; height:140px;">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <h2>Instagram</h2>
        <p> Ayo kunjungi dan follow Instagram Makinkinz Meat Shop ya. Kamu bisa dapet informasi terkini dan promo di Instagram kami.</p>
        <p><a class="btn btn-info" href="https://www.instagram.com/makinkinz/" role="button">Cek Disini!</a></p></center>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <center><img class="bd-placeholder-img rounded-circle" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/shopee.jpg" style="width:140px; height:140px;">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <h2>Shopee</h2>
        <p>Silahkan kunjungi marketplace Makinkinz Meat Shop di e-commerce Shopee ya.</p>
        <p><a class="btn btn-info" href="https://shopee.co.id/makinkinz" role="button">Cek Disini!</a></p></center>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-lg-4">
        <center><img class="bd-placeholder-img rounded-circle" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/tokped.jpg" style="width:140px; height:140px;">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <h2>Tokopedia</h2>
        <p>Silahkan kunjungi marketplace Makinkinz Meat Shop di e-commerce Tokopedia ya.</p>
        <p><a class="btn btn-info disabled" href="#" role="button">Coming Soon!</a></p></center>
      </div><!-- /.col-lg-4 -->
      
    </div><!-- /.row -->


  </div>


{% endblock %}