{% extends 'base.html' %}
{% load static %}
{% block content %}

<center>
    <br>
    <br>
    <br>
    <h3>Partnership</h3>
    <small>Makinkinz Meat Shop</small> <hr>
</center>



<div class='tentang'>
    <div class="container">
    
        <div class="row">
            <div class="col">
            
        <p>
        Kami sangat terbuka bagi teman-teman yang ingin menjadi reseller ataupun bagi HORECA yang ingin menjadikan 
        produk terbaik Makinkinz sebagai bahan utamanya. Silahkan kamu cek dibawah ini untuk
        melihat keterangan dan cara untuk bekerjasama dengan Makinkinz Meat Shop. 
        </p>
            </div>
        </div>
        <center>
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                 
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   <h4>RESELLER</h4> 
                  </button>
                
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  </div>
                  <h6>Bagi kamu yang tertarik untuk menjadi reseller, kami pastinya akan menyediakan harga spesial untuk
                    pembelian partai besar. Silahkan isi datamu <a href="https://forms.gle/7fUg3XWevUedKFdo7">disini</a>  untuk kepentingan informasi Partnership kami.
                    Kamu juga bisa tanya-tanya seputar partnership reseller ini dengan 
                    menghubungi kami secara langsung lewat <a href="https://api.whatsapp.com/send?phone=6285772902160&text=Halo%20Makinkinz,%20saya%20melihat%20informasi%20partnership%20RESELLER%20dari%20website%20www.makinkinz.com.%20Saya%20ingin%20bertanya%20tentang,%20">whatsapp</a> ya!</h6>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h4>HORECA</h4>
                  </button>
                
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  </div>
                  <h6>Bagi HORECA yang tertarik untuk bekerjasama dengan Makinkinz Meat Shop, kami pastinya 
                      akan menyediakan harga spesial untuk pembelian partai besar. Silahkan isi data HORECA <a href="https://forms.gle/g7ZNktsMiFefUv7f7">disini</a> untuk kepentingan informasi Partnership kami. 
                      Kamu bisa hubungi kami lewat <a href="https://api.whatsapp.com/send?phone=6285772902160&text=Halo%20Makinkinz,%20saya%20melihat%20informasi%20partnership%20HORECA%20dari%20website%20www.makinkinz.com.%20Saya%20ingin%20bertanya%20tentang,%20">whatsapp</a> ya!</h6>
              
                    </div>
            </div>
        </center>
        
    </div>
 
    </div>
</div>


{% endblock %}