{% extends 'base.html' %}
{% block content %}

<style>
    p.card-text-price { 
        color: darkred;
      }
</style>
<br>
<br>
<br>    
<div class="container">
    <h1> Daging Sapi Spesial</h1>
    <hr>
    <br>
    <br>    
<!-- 
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/5-min.JPG" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Daging Rendang Super Impor</h4>
                <p class="card-text-price"> Harga : <br>
                    Rp 70.000,-/500 gr <br>
                    Rp 135.000,-/1 kg</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Impor</small>
            </div>
            </div>
        <div class="card">
            <img class="card-img-top" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/sapi-spesial/US+Shortplate+(3).JPG" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">US Shortplate Slice Beef</h4>
                <p class="card-text-price"> Harga : <br>
                    Rp 70.000,-/500 gr <br>
                    Rp 130.000,-/1 kg</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Impor</small>
        </div>
        </div>
    </div> -->

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
          class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      
    </ol>
    <!--/.Indicators-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
        

        <div class="col-md-3" style="float:left">
         <div class="card mb-2">
            <img class="card-img-top"
              src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/sapi-spesial/US+Shortplate+(3).JPG" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">US Shortplate Slice Beef</h4>
              <p class="card-text-price"> Harga : <br>
                Rp 70.000,-/500 gr <br>
                Rp 130.000,-/1 kg</p>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Impor</small>
            </div>
          </div>
        </div>
  
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/5-min.JPG" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Daging Rendang Super Impor</h4>
              <p class="card-text-price"> Harga : <br>
                Rp 70.000,-/500 gr <br>
                Rp 135.000,-/1 kg</p>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Impor</small>
            </div>
          </div>
        </div>
  
        <!-- <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
        
         <div class="col-md-3" style="float:left">
         <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div> -->
  
      </div>
      <!--/.First slide-->
      </div>
</div>


</div>
{% endblock content %}


