{% extends 'base.html' %}
{% block content %}

<style>
    p.card-text-price { 
        color: darkred;
      }
</style>
<br>
<br>
<br>    
<div class="container">
    <h1> Daging Sapi Premium</h1>
    <hr>
    <br>
    <br>    


    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/5-min.JPG" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Lidah/Gyutan Impor Slice</h4>
                <p class="card-text-price">Rp70,000</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Impor</small>
            </div>
            </div>
        <div class="card">
        <img class="card-img-top" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/2-min.JPG" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Saikoro Wagyu Meltique</h4>
            <p class="card-text-price">Rp70,000</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Daging Sapi Impor</small>
        </div>
        </div>
        <div class="card">
        <img class="card-img-top" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/4-min.JPG" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">US Shortplate Slice Beef</h4>
            <p class="card-text-price">Rp70,000</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Daging Sapi Impor</small>
        </div>
        </div>
    </div>
</div>
{% endblock content %}


