{% extends 'base.html' %}
{% block content %}

<style>
    p.card-text-price { 
        color: darkred;
      }
</style>
<br>
<br>
<br>    
<div class="container">
    <h1> Daging Sapi Spesial</h1>
    <hr>
    <br>
    <br>    

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      
    </ol>
    <!--/.Indicators-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
        
        <div class="col-md-3" style="float:left">
         <div class="card mb-2">
            <img class="card-img-top"
              src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/sapi-spesial/US+Shortplate+(3).JPG" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">US Shortplate Slice Beef</h4>
              <p class="card-text-price"> Harga : <br>
                Rp 70.000,-/500 gr <br>
                Rp 130.000,-/1 kg</p>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Impor</small>
            </div>
          </div>
        </div>
  
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/5-min.JPG" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Daging Rendang Super Impor</h4>
              <p class="card-text-price"> Harga : <br>
                Rp 70.000,-/500 gr <br>
                Rp 135.000,-/1 kg</p>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Impor</small>
            </div>
          </div>
        </div>
  
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/Oxtail.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Daging Buntut Sapi (Oxtail)</h4>
              <p class="card-text-price"> Harga : <br>
                Rp 65.000,-/500 gr <br>
                Rp 120.000,-/1 kg</p>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Lokal</small>
            </div>
          </div>
        </div>
        
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/DagingGilingSuper(1).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Daging Giling Rendah Lemak</h4>
              <p class="card-text-price"> Harga : <br>
                Rp 55.000,-/500 gr <br>
                Rp 105.000,-/1 kg</p>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Impor</small>
            </div>
          </div>
        </div>
  
      </div>
      <!--/.First slide-->
      <div class="carousel-inner" role="listbox">
  
        <!--First slide-->
        <div class="carousel-item active">
          
          <div class="col-md-3" style="float:left">
           <div class="card mb-2">
              <img class="card-img-top"
                src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/DagingBrisket(2).jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Daging Sandung Lamur </h4>
                <p class="card-text-price"> Harga : <br>
                  Rp 65.000,-/500 gr <br>
                  Rp 125.000,-/1 kg</p>
                  
              </div>
              <div class="card-footer">
                  <small class="text-muted">Daging Sapi Impor</small>
              </div>
            </div>
          </div>
</div>


</div>
{% endblock content %}


