{% extends 'base.html' %}
{% load static %}
{% block content %}

<center>
    <br>
    <br>
    <br>
    <h3>Tentang Kami</h3>
    <small>Makinkinz Meat Shop</small> <hr>
</center>



<div class='tentang'>
    <div class="container">
    
        <div class="row">
            <div class="col">
            
                <center><img src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/4-min.JPG" style="width:50%; height:auto;" ></center>
            

            <p>
                Indonesia merupakan negara dengan jumlah penduduk yang sangat besar. Dengan jumlah penduduk 
                yang besar, konsumsi daging di negara ini menjadi sesuatu yang sangat penting untuk 
                memenuhi kebutuhan nutrisi masyarakat. 
                <br>
                <br>
                Dalam mencapai kebutuhan konsumsi daging di Indonesia, kami hadir menawarkan sejumlah 
                pilihan daging ayam dan sapi berkualitas tinggi serta terjangkau untuk masyarakat. Saat ini 
                produk kami dapat dibeli di sejumlah e-commerce besar seperti Tokopedia, Bukalapak, dan
                Shopee untuk menjangkau masyarakat lebih luas lagi. Hingga untuk kedepannya kami dapat 
                menjadi supplier terpercaya bagi masyarakat Indonesia. 
            </p>
            </div>
        </div>
    </div>
 
    </div>
</div>


{% endblock %}