{% extends 'base.html' %}
{% block content %}

<style>
    p.card-text-price { 
        color: darkred;
      }
</style>
<br>
<br>
<br>    
<div class="container">
    <h1>Semua Produk Daging</h1>
    <hr>
    <br>
    <br>    

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      
    </ol>
    <!--/.Indicators-->
  
<center>
    <h4>Daging Sapi Spesial</h4>
   </center>
   
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
        
        <div class="col-md-3" style="float:left">
         <div class="card mb-2">
            <img class="card-img-top"
              src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/sapi-spesial/US+Shortplate+(3).JPG" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">US Shortplate Slice Beef</h4>
              <p class="card-text-price"> Harga : <br>
                Rp 70.000,-/500 gr <br>
                Rp 130.000,-/1 kg</p>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Impor</small>
            </div>
          </div>
        </div>
  
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/5-min.JPG" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Daging Rendang Super Impor</h4>
              <p class="card-text-price"> Harga : <br>
                Rp 70.000,-/500 gr <br>
                Rp 135.000,-/1 kg</p>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Impor</small>
            </div>
          </div>
        </div>
  
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/Oxtail.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Daging Buntut Sapi (Oxtail)</h4>
              <p class="card-text-price"> Harga : <br>
                Rp 65.000,-/500 gr <br>
                Rp 120.000,-/1 kg</p>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Lokal</small>
            </div>
          </div>
        </div>
        
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/DagingGilingSuper(1).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Daging Giling Rendah Lemak</h4>
              <p class="card-text-price"> Harga : <br>
                Rp 55.000,-/500 gr <br>
                Rp 105.000,-/1 kg</p>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">Daging Sapi Impor</small>
            </div>
          </div>
        </div>
  
      </div>
      <!--/.First slide-->
      <div class="carousel-inner" role="listbox">
  
        <!--First slide-->
        <div class="carousel-item active">
          
          <div class="col-md-3" style="float:left">
           <div class="card mb-2">
            <img class="card-img-top"
              src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/DagingBrisket(2).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Daging Sandung Lamur </h4>
              <p class="card-text-price"> Harga : <br>
                Rp 65.000,-/500 gr <br>
                Rp 125.000,-/1 kg</p>
                  
              </div>
              <div class="card-footer">
                  <small class="text-muted">Daging Sapi Impor</small>
              </div>
            </div>
          </div>
</div>
</div>


<center>
    <h4>US Angus Beef</h4>
   <P class="text-muted">Daging Sapi Impor</P>
   </center>
   
   <!--Carousel Wrapper-->
   <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
   
       <!--Controls-->
       <div class="controls-top">
         <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
         <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
       </div>
       <!--/.Controls-->
     
       <!--Indicators-->
       <ol class="carousel-indicators">
         <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
         <li data-target="#multi-item-example" data-slide-to="1"></li>
         
       </ol>
       <!--/.Indicators-->
     
       <!--Slides-->
       <div class="carousel-inner" role="listbox">
     
         <!--First slide-->
         <div class="carousel-item active">
   
           <div class="col-md-3" style="float:left">
            <div class="card mb-2">
               <img class="card-img-top" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/sapi-premium/Galbi.jpg" alt="Card image cap">
               <div class="card-body">
                   <h4 class="card-title">Bone In Short Ribs (Galbi)</h4>
                   <p class="card-text-price">Harga Rp 40.000,-/100 gr</p>
                   <p class="card-text">Ukuran daging US Angus Beef +/- 250 gr / pcs.
                       Harga akan menyesuaikan dengan ukuran per pcs.</p>
               </div>
               <div class="card-footer">
                   <small class="text-muted">Daging Sapi Impor</small>
               </div>
             </div>
           </div>
     
           <div class="col-md-3" style="float:left">
             <div class="card mb-2">
               <img class="card-img-top" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/sapi-premium/Karubi.jpg" alt="Card image cap">
               <div class="card-body">
                   <h4 class="card-title">Boneless Short Rib (Karubi)</h4>
                   <p class="card-text-price">Harga Rp 57.000,-/100 gr</p>
                   <p class="card-text">Ukuran daging US Angus Beef +/- 250 gr / pcs.
                       Harga akan menyesuaikan dengan ukuran per pcs.</p>
                   
               </div>
               <div class="card-footer">
                   <small class="text-muted">Daging Sapi Impor</small>
               </div>
             </div>
           </div>
     
           <div class="col-md-3" style="float:left">
             <div class="card mb-2">
               <img class="card-img-top" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/sapi-premium/Angus+Prime+Rib+Eye+(3).jpg" alt="Card image cap">
               <div class="card-body">
                   <h4 class="card-title">Rib Eye Prime US Angus Beef</h4>
                   <p class="card-text-price">Harga Rp 65.000,-/100 gr</p>
                   <p class="card-text">Ukuran daging US Angus Beef +/- 250 gr / pcs.
                       Harga akan menyesuaikan dengan ukuran per pcs.</p>
               </div>
               <div class="card-footer">
                   <small class="text-muted">Daging Sapi Impor</small>
               </div>
             </div>
           </div>
           
            <div class="col-md-3" style="float:left">
            <div class="card mb-2">
               <img class="card-img-top" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/sapi-premium/US+Angus+Prime+Striploin.jpg" alt="Card image cap">
               <div class="card-body">
                   <h4 class="card-title">Striploin Prime US Angus Beef</h4>
                   <p class="card-text-price">Harga Rp 60.000,-/100 gr</p>
                   <p class="card-text">Ukuran daging US Angus Beef +/- 250 gr / pcs.
                       Harga akan menyesuaikan dengan ukuran per pcs.</p>
               </div>
               <div class="card-footer">
                   <small class="text-muted">Daging Sapi Impor</small>
               </div>
             </div>
           </div>
           
   
   
           <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
             </a>
             <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
             </a>
         </div>
         <!--/.First slide-->
   
   
   
         </div>
   
   
         <br>
   <center>
       <h4>Wagyu Meltique</h4>
       <P class="text-muted">Daging Sapi Impor</P>
   </center>
   
   
         <!--Carousel Wrapper-->
   <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
   
       <!--Controls-->
       <div class="controls-top">
         <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
         <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
             class="fas fa-chevron-right"></i></a>
       </div>
       <!--/.Controls-->
     
       <!--Indicators-->
       <ol class="carousel-indicators">
         <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
         <li data-target="#multi-item-example" data-slide-to="1"></li>
         
       </ol>
       <!--/.Indicators-->
     
       <!--Slides-->
       <div class="carousel-inner" role="listbox">
     
         <!--First slide-->
         <div class="carousel-item active">
           
   
           <div class="col-md-3" style="float:left">
            <div class="card mb-2">
               <img class="card-img-top" id="myImg" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/sapi-premium/Saikoro+(3).JPG" alt="Card image cap">
               <div class="card-body">
                   <h4 class="card-title">Saikoro Wagyu Meltique</h4>
                   <p class="card-text-price"> Harga : <br>
                       Rp 45.000,-/250 gr <br>
                       Rp 90.000,-/500 gr <br>
                       Rp 175.000,-/1 kg</p>
               </div>
               <div class="card-footer">
                   <small class="text-muted">Daging Sapi Impor</small>
               </div>
             </div>
           </div>
     
           <div class="col-md-3" style="float:left">
             <div class="card mb-2">
               <img class="card-img-top" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/sapi-premium/Striploin+Wagyu+Meltique+(3).JPG" alt="Card image cap">
               <div class="card-body">
                   <h4 class="card-title">Striploin Wagyu Meltique Yuu</h4>
                   <p class="card-text-price"> Harga : <br>
                       Rp 50.000,-/200 gr <br>
                       Rp 210.000,-/1 kg</p>
                   <br>
               </div>
               <div class="card-footer">
                   <small class="text-muted">Daging Sapi Impor</small>
               </div>
             </div>
           </div>
     
     
         </div>
         <!--/.First slide-->
         </div>
   
   <br>
</div>
   <center>
       <h4>AUS Grain Fed</h4>
       <P class="text-muted">Daging Sapi Impor</P>
   </center>
   
   <!--Carousel Wrapper-->
   <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
   
       <!--Controls-->
       <div class="controls-top">
         <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
         <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
             class="fas fa-chevron-right"></i></a>
       </div>
       <!--/.Controls-->
     
       <!--Indicators-->
       <ol class="carousel-indicators">
         <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
         <li data-target="#multi-item-example" data-slide-to="1"></li>
         
       </ol>
       <!--/.Indicators-->
     
       <!--Slides-->
       <div class="carousel-inner" role="listbox">
     
         <!--First slide-->
         <div class="carousel-item active">
           
   
           <div class="col-md-3" style="float:left">
            <div class="card mb-2">
               <img class="card-img-top" src="https://makinkinz-meat.s3-ap-southeast-1.amazonaws.com/static/images/sapi-premium/AUSTenderloinGrainFed+(2).jpg" alt="Card image cap">
               <div class="card-body">
                   <h4 class="card-title">AUS Tenderloin Grain Fed</h4>
                   <p class="card-text-price">Harga Rp 73.000,-/100 gr</p>
                   <p class="card-text">Ukuran daging AUS Grain Fed +/- 200 gr/pcs.
                       Harga akan menyesuaikan dengan ukuran per pcs</p>
               </div>
               <div class="card-footer">
                   <small class="text-muted">Daging Sapi Impor</small>
               </div>
             </div>
           </div>
     
          
         </div>
         <!--/.First slide-->
         </div>
   



</div>
{% endblock content %}


